
.toggleButton{
    margin-bottom: 80px;
    margin-top: 20px;
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 18px;
    margin: 15px 0px 25px 63px;
}

.t-btn{
    border-radius: 15px;
    width: 45%;
    height: 33px;
    border: none;
    background-color: white;
}