*{
    margin: 0;
}
.wrapper{
    margin: 25px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}
.search{
    width: 95%;
    padding: 10px 0px;
    border: 1px solid green;
    border-radius: 50px;
    margin-left: 10px;
}
.h-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    margin-top: 15px;
}

