*{
    margin: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(#c0f7bbc9, #f6f8f6); */
}

.top{
    margin: 20px 20px;
}

.search{
    width: 80%;
    margin-left: 35px;
}
.h-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    margin-top: 0px;
}

input::placeholder{
    padding-left: 0px;
    font-size: 14px;
}

